*{
  margin: 0 auto;
}

:root{
  --beige:#f8b195;
  --peach:#f67280;
  --pink: #c06c84;
  --purple: #6c5b7b;
  --blue: #355c7d;
}

body{
  height: 100vh;
  background-image: linear-gradient(to top left, var(--blue), var(--purple));
}

.navbar{
  background-color: var(--blue);
  color: var(--peach);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.aboutme{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
}

.aboutme__figure{
  height: 200px;
  width: 150px;
  margin-top: 40px;
  display: inline-block;
}



figure img{
  border-radius: 6%;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.288) ;
}



.aboutme__figure:hover + .aboutme__work{
  display: block;
}

.aboutme__work{
  display: none;
  margin-left: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--beige);
  text-shadow: 1px 1px black;
}

.aboutme__figure:hover{
  transform: translateX(-200px) scale(0.6, 0.6);
  transition: transform 1s; 
}